.container{
   width: 500px;
   margin-right: auto;
   margin-left: auto;
   /*background-color: #f5f5dc;*/
   background: linear-gradient(to right top, #6bd1cb, #63d6c5, #60dbbc, #65dfb0, #70e3a1, #80e695, #92e888, #a4ea7b, #baeb71, #d0eb69, #e5eb63, #fbea5f);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   margin-bottom: 50px;
   margin-top: 50px;
   padding: 30px;
}

